@import "tailwindcss";

@theme inline {
  --color-background: #0B1120;
  --color-foreground: #ffffff;
  --font-sans: var(--font-cairo);
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}
